<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422032897396-eqhl692o2rgladpofe3bbi1bnqgmi1o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422032897396-eqhl692o2rgladpofe3bbi1bnqgmi1o0</string>
	<key>API_KEY</key>
	<string>AIzaSyBJA_0C5FRCTD65ZPyoj8W2rObpF-kQP_A</string>
	<key>GCM_SENDER_ID</key>
	<string>422032897396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>quizapp-ac5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-ac5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422032897396:ios:6bb4b7b7f857a796b5e821</string>
</dict>
</plist>